.concerts-container {
  width: 100%;
  display: flex;
  align-items: start;
  height: 100%;
  padding: 3em;
}

form {
  padding: 1em;
}

label {
  display: block;
}

ol.results {
  flex: 1;
  margin: 0 2em;
}

li.no-results {
  list-style: none;
  text-align: center;
}