.cart-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 100%;
  padding: 3em;
  flex-wrap: wrap;
}

h1 { color: black; font-family: 'Open Sans Condensed', sans-serif; font-size: 32px; font-weight: 700; line-height: 64px; margin: 0 0 0; padding: 20px 30px; text-align: center; text-transform: uppercase; }